.industry-heroSection {
    /* background-color: #f81f01; */
    background-color: oklch(0.705 0.213 47.604);
    /* background-image: linear-gradient(145deg, #f81f01 10%, #ee076e 100%); */
}

.footer-left {
    background-image: linear-gradient(145deg, #f81f01 10%, #ee076e 100%);
}

.footer-left::before, .industry-heroSection::before {
    position: absolute;
    width: 100%;
    height: 100%; 
    left: 0;
    top: 0;
    background-image: url("/pattern-footer.png");
    content: "";
    z-index: 1;
    opacity: 0.5;
    border-top-right-radius: 6px;
}


.imgji {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    max-width: 295px;
    height: auto;
}



.imgFooterDesign {
    position: absolute;
    right: 0;
    top: 70%;
    z-index: -1;
    transform: translateY(-50%);
    max-width: 200px;
    height: auto;
}