@import "tailwindcss";




body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-arOneSans);
  /* font-family: Arial, Helvetica, sans-serif; */
}



@theme {

  /* Animations */
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;
  --animate-marquee-reverse: marquee-reverse 25s linear infinite;
  --animate-marquee2-reverse: marquee2-reverse 25s linear infinite;
  --animate-marqueeY: marqueeY 25s linear infinite;
  --animate-marqueeY2: marqueeY2 25s linear infinite;
  --animate-marquee-reverse-y: marquee-reverse-y 25s linear infinite;
  --animate-marquee-two-reverse-y: marquee-two-reverse-y 25s linear infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}






@keyframes marqueeY {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}


@keyframes marquee-reverse-y {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}






/* Keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee2-reverse {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}







/* @keyframes marqueeY {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
} */

@keyframes marqueeY2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* @keyframes marquee-reverse-y {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
} */

@keyframes marquee-two-reverse-y {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}






@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}



@layer utilities {
 
  /* Or create a variant that works with group */
  .group:hover .group-hover\:pause-animation {
    animation-play-state: paused !important;
  }


  .border {
    border: 1px solid rgb(238, 238, 238);
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-balance {
    text-wrap: balance;
  }


}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;




    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }


  hr {
    border-color: rgb(208, 208, 208)
  }

}





/* ChatBot root  */
:root {
  --chat--color-primary: #f97316;
  --chat--color-primary-shade-50: #f97316cc;
  --chat--color-primary-shade-100: #ea580c;

  /* --chat--color-primary: #e74266;
	--chat--color-primary-shade-50: #db4061;
	--chat--color-primary-shade-100: #cf3c5c; */
  --chat--color-secondary: #20b69e;
  --chat--color-secondary-shade-50: #1ca08a;
  --chat--color-white: #ffffff;
  --chat--color-light: #f2f4f8;
  --chat--color-light-shade-50: #e6e9f1;
  --chat--color-light-shade-100: #c2c5cc;
  --chat--color-medium: #d2d4d9;
  /* --chat--color-dark: #101330; */
  --chat--color-dark: #00214e;
  --chat--color-disabled: #777980;
  --chat--color-typing: #404040;

  --chat--spacing: 1rem;
  --chat--border-radius: 0.25rem;
  --chat--transition-duration: 0.15s;

  --chat--window--width: 400px;
  --chat--window--height: 600px;

  --chat--header-height: auto;
  --chat--header--padding: var(--chat--spacing);
  --chat--header--background: var(--chat--color-dark);
  --chat--header--color: var(--chat--color-light);
  --chat--header--border-top: none;
  --chat--header--border-bottom: none;
  --chat--header--border-bottom: none;
  --chat--header--border-bottom: none;
  --chat--heading--font-size: 2em;
  --chat--header--color: var(--chat--color-light);
  --chat--subtitle--font-size: inherit;
  --chat--subtitle--line-height: 1.8;

  --chat--textarea--height: 50px;

  --chat--message--font-size: 1rem;
  --chat--message--padding: var(--chat--spacing);
  --chat--message--border-radius: var(--chat--border-radius);
  --chat--message-line-height: 1.8;
  --chat--message--bot--background: var(--chat--color-white);
  --chat--message--bot--color: var(--chat--color-dark);
  --chat--message--bot--border: none;
  --chat--message--user--background: var(--chat--color-secondary);
  --chat--message--user--color: var(--chat--color-white);
  --chat--message--user--border: none;
  --chat--message--pre--background: rgba(0, 0, 0, 0.05);

  --chat--toggle--background: var(--chat--color-primary);
  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);
  --chat--toggle--active--background: var(--chat--color-primary-shade-100);
  --chat--toggle--color: var(--chat--color-white);
  --chat--toggle--size: 64px;
}

.chat-layout .chat-header {
  gap: 0;
}

.chat-layout {
  border-radius: 10px;
  overflow: hidden;
}


.chat-window-wrapper .chat-window {
  border-radius: 10px;
  overflow: hidden;
}

.chat-message {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: small;
}


/* Smoother Phone Vibration with 1.5s Pause */
@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-3deg);
  }

  20% {
    transform: rotate(3deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  30% {
    transform: rotate(1deg);
  }

  40% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

  /* Remains still for the rest of the cycle */
}

.vibrating-icon {
  animation: vibrate 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}






.responsive-heading {
  line-height: 3.6rem !important;
}

@media (max-width: 768px) {
  .responsive-heading {
    line-height: 2.5rem !important;
  }
}